.form {
    margin-top: 3%;
}

.form__container {
    padding: 1.7% 3% 0 3%;
}

.form__group {
    margin-bottom: 1rem;
}

.form__label {
    display: block;
    margin: 0;
    transition: all .3s;
    top: 5%;
    left: 5%;
    font-size: 12px;
    margin-top: .2rem;
    transform: translate(.3rem, -3.7rem);
    /* transform: translate(1rem, -4rem); */
}

.form__input {
    font-size: 14px !important;
    /* border: none;
    box-shadow: 0 1rem 2rem rgba(black, .1); */
    /* border-bottom: 2px solid transparent; */
}

/* .form__input:placeholder-shown ~ .form__label {
    transform: translate(1rem, -2rem);
    opacity: 0;
    visibility: hidden;
} */

/* .form__input:focus, */
.form-control:focus:invalid,
.form-control:focus:valid,
.form-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
    padding-right: 0 !important;
}

/* .form-control:invalid,
.form_input:invalid,
.form_input:focus:invalid {
    border-color: none !important;
    background-image: none !important;
} */

/* .form__input:focus:invalid, */
/* .form-control.is-invalid */
/* .was-validated */
.form-control:invalid {
    /* border: none; */
    /* border-color: transparent !important; */
    border-color: #ced4da !important;  /* rgb(206, 212, 218) */
    background-image: none !important;
    /* box-shadow: 0 1rem 2rem rgba(black, .1) !important; */
    border-bottom: 2px solid #dc3545 !important;
    padding-right: 0 !important;
}

/* .form__input:focus:valid, */
/* .form-control.is-valid */
/* .was-validated */
.form-control:valid {
    /* border: none; */
    border-color: #ced4da !important;
    background-image: none !important;
    /* box-shadow: 0 1rem 2rem rgba(black, .1) !important; */
    /* border-bottom: 2px solid #28a745 !important; */
    border-bottom: 2px solid #ced4da !important;
    padding-right: 0 !important;
}

.display-flex {
    display: flex !important;
}

.form-row {
    width: 495px;
}

.form-row>.col, .form-row>.col-md-5, .form-row>.col-md-3, .form-row>.col-md-6 {
    display: flex !important;
}

.booking-details-form {
    width: 50%;
}

.room-details-form {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.room-details-form h4 {
    color: #ced4da;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separator {
    border-left: 1px solid #ced4da;
    margin: 0 4% 0 0;
}

.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container input {
    width: 100%;
}

.required {
    color: red;
}

.add-room-form {
    /* margin: 20px 0; */
    height: 256px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.add-room-form::-webkit-scrollbar {
    width: 4px;
}

.add-room-form::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 4px;
}

.icon-medium {
    font-size: 20px !important;
}

.btn-no-border {
    border: none !important;
    background-color: #fff !important;
    transition: all .3s;
    backface-visibility: hidden;
}

.btn-no-border:hover {
    transform: scale(1.5);
}

.addIcon:hover, .deleteIcon:hover {
    transform: scale(1.2);
}

.btn-no-border:focus {
    box-shadow: none !important;
}

.btn-no-border--primary:hover {
    color: #0069d9 !important;
    background-color: #fff !important;
}

.btn-no-border--danger:hover {
    color: #c82333 !important;
    background-color: #fff !important;
}

.btn-no-border--secondary:hover {
    color: #5a6268 !important;
    background-color: #fff !important;
}

.modal-lg {
    max-width: 900px;
}

.btn-submit {
    background-color: #33b5e5 !important;
    border-color: #33b5e5 !important;
    color: #fff !important;
}

.btn-submit:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

.svg-icon {
    fill: #ced4da !important;
}

.form__group-addressContainer {
    width: 95%;
}








/* ---------------  */





/* .room-details-form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 } */

/* .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


/* .margin-left-10 {
    margin-left: 25px;
} */

/* .button-container {
    text-align: right;
} */

/* .button {
    box-sizing: border-box;
    border-radius: 100%;
    display: inline-block;
}

.button:hover {
    transform: scale(1.1);
} */

/* .btn-edit {
    color: #007bff;
}

.btn-edit i:hover {
    color: #0069d9;
} */

/* .btn-cancel-booking {
    color: #dc3545;
}

.btn-cancel-booking:hover {
    color: #c82333;
} */


