.bookingDetails__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
}

.bookingDetails__hr {
    width: 80%;
    border-bottom: 1px solid#ced4da;
    margin: 15px 5px;
}

.bookingDetails__info {
    width: 80%;
    font-size: 18px;
}

.bookingDetails__row{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookingDetails__left {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.bookingDetails__colon {
    display: inline-block;
    text-align: right;
    width: 10%;
}

.bookingDetails__right {
    text-align: right;
    display: inline-block;
    width: 40%;
}

.bookingDetails__payment {
    width: 80%;
}

.bookingDetails__input {
    display: none;
}

.bookingDetails__label {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin: 0;
}

.bookingDetails__checkbox {
    height: 20px;
    width: 20px;
    border: 2px solid #4C4B4B;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 2px;
}

.bookingDetails__checkbox::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
    transition: all .3s;
}

.bookingDetails__input:checked ~ .bookingDetails__label .bookingDetails__checkbox {
    background-color: #4C4B4B;
}

.bookingDetails__input:checked ~ .bookingDetails__label .bookingDetails__checkbox::after {
    opacity: 1;
}

.bookingDetails__formInput {
    width: 50%;
}

.taxInfo {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.taxInfo__container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.taxInfo__radio-group {
    width: 35%;
    display: inline-block;
}

.taxInfo__radio-input {
    display: none;
}

.taxInfo__radio-label {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
}

.taxInfo__radio-button {
    height: 20px;
    width: 20px;
    border: 2px solid #4C4B4B;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
}

.taxInfo__radio-button::after {
    content: "";
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4C4B4B;
    opacity: 0;
    transition: all .2s;
}

.taxInfo__radio-input:checked ~ .taxInfo__radio-label .taxInfo__radio-button::after {
    opacity: 1;
}