.navigation {
    height: 30px;
    margin: 0;
    background-color: #f0f1f2;
    text-align: center;
}

.navigation__list {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #ced4da;
    height: 30px;   
}

.navigation__item {
    display: inline-block;
    padding: .2% 3%;
    color: #4C4B4B;
    text-align: center;
    height: 30px;
}

.navigation__link {
    text-decoration: none;
    color: #4C4B4B;
    font-size: 14px
}

.navigation__item:hover {
    background-color: #dbdee0;
    color: #0056b3 !important;
}

.navigation__item:hover,
.navigation__link:hover {
    color: #0056b3 !important;
    /* color: #33b5e5 !important; */
    cursor: pointer;
}

.navigation__link:hover {
    text-decoration: none;
}

.icon_container {
    padding: 0 6px;
}

.icon {
    font-size: 17px;
}