$cell_min-width: 20px;
$cell_width: 50px;

$importantCell_color: #4c4b4b;

.calendarBody {
  width: 100%;
  height: 82%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__header {
    width: $cell_width;
    min-width: $cell_min-width;
    font-weight: 400;
  }

  &__cell {
    outline: 1px solid #99aaab !important;
    width: $cell_width;
    min-width: $cell_min-width;
    height: 25px;
    font-weight: bold;
  }
}

.importantCell {
  background: $importantCell_color;
  outline: 1px solid $importantCell_color !important;
  color: white;
  font-weight: 400;
  pointer-events: none;
  border: 1px solid $importantCell_color;
}

.disableCell {
  background-color: rgba(128, 128, 128, 0.3) !important;
  outline: 1px solid #99aaab !important;
  color: rgb(128, 128, 128) !important;
  cursor: not-allowed;
}

td {
  border-collapse: collapse;
}
