.report {
  padding-top: 10px;
  width: 100%;

  &__container {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
  }

  &__header-primary {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__header-secondary {
    display: flex;
    background-color: #e0e0e0;
    padding: 10px 20px;
  }

  &__section {
    padding: 20px 20px;
  }

  &-row {
    width: 100%;
    display: flex;
    padding: 5px 0;
  }

  &-key {
    display: inline-block;
    width: 50%;
  }

  &-value {
    display: inline-block;
    width: 50%;
    text-align: end;
  }

  &__footerContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__btn:not(:last-child) {
    margin-right: 10px;
  }
}

.btn {
  &-group {
    margin-top: 20px;
    text-align: right;
  }

  &-secondary {
    margin-right: 20px;
  }
}

.customReport {
  display: none;
}
