.alert-box {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    transition: all .3s;
}

.alert-box__content {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0!important;
    width: 100%;
    max-width: 100%!important;
    background-color: #fff;
    height: 10%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    display: flex;
    justify-content: center;
}

.alert-icon__box {
    display: flex;
    justify-content: center;
    padding: 1.2% 1%;
}

.alert-icon {
    font-size: 38px;
    color: #dc3545;
}

.alert-box__message {
    display: inline-block;
    padding: 1.6% 1%;
}

.alert-box__button {
    display: inline-block;
    padding: 1% 1%;
}

.alert-box-close-btn {
    margin-right: 25px;
}

.alert-box-btn {
    display: inline-block;
}